<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
</head>
<body>
    <div id="page">
        <h1>Product not found</h1>
        <img src="../static/images/confused_cat.png" alt="cat" style="width:700px">
        <p>Looks like you have a bad link</p>

        <a href="/store" id="redirectButton">
            <button>
                Take me back
            </button>
        </a>
        
    </div>
</body>
</html>
