html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
    height: 225px;
}

#tabs {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: .5%;
    padding-bottom: .5%;
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

#tabs button {
    flex: 1;
    max-width: 33%;
    background-color: white;
    border: 2px solid white;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    border-radius: .5rem;
    box-sizing: border-box;
    margin: 1px;
}


#tabs button:hover {
    background-color: lightskyblue;
    border: 1px solid black;
}


#tabs button[aria-selected="true"] {
    border: 1px solid black;
    background-color: lightskyblue; 
}

#footer {
    width: 100%;
    margin: 0;
    padding-top: 8px;
    height: 90px;
    background-color: lightskyblue;
    opacity: 80%;
}

#right {
    float: right;
    width: 15%;
    justify-content: center;
}

#left {
    margin-top: 20px;
    display: flex;
    margin-left: 3%;
    float: left;
    width: 49.5%;
}

#left p {
    margin-left: 10%;
}

#footer img {
    padding: 10%;
    width: 40px;
    height: auto;
}

#footer img:hover {
    opacity: 70%;
}

#htmx {
    background-color: rgb(241, 241, 241);
    text-align: center;
    height: 10%; /* Adjust the height as needed */
    padding: 10px;
}

#htmx p {
    font-size: 1em;
    margin: 0;
    display: inline-block;
}

#htmx p a {
    display: inline-block;
    text-decoration: none;
    text-align: left; /* Align the text to the left within the link */
    vertical-align: middle; /* Vertically align the link */
}

#htmx p img {
    width: 80px;
    height: auto;
    border-radius: 2rem;
    border: 1px solid black;
    margin-right: 10px;
    vertical-align: middle; /* Vertically align the image */
}

#htmx p img:hover {
    opacity: 0.7;
}



#page { 
    margin: auto;
    padding: 1%;
}

#page h2, h3 {
    padding: 1%;
}

#page img {
    padding-left: 2%;
    width: 40%;
    height: auto;
}

#topnav {
    margin: 10%;
}

#copyright {
    background-color: lightskyblue;
    opacity: 80%;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}