<div id="htmx">
    <!-- The htmx logo triggering confirmation -->
    <p>Website powered by 
        <a href="#" id="htmx-logo">
            <img src="{{ url_for('static', filename='images/htmx.jpg') }}" hx-get="/confirmation" hx-trigger="click">
        </a>
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Event listener for htmx logo click
    document.getElementById('htmx-logo').addEventListener('click', function(event) {
        event.preventDefault(); // Prevents the default link behavior
        
        // Show the confirmation dialogue
        Swal.fire({
            title: 'Confirm',
            text: 'Do you want to continue?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, proceed to redirect
                window.location.href = 'https://htmx.org/'; // Replace with your URL
            } else {
                // Handle if 'No' is clicked
                // Optional: You can add specific actions here if needed
            }
        });
    });
</script>

<div id="footer">
    <hr>
    <div id="left">
        <a href="mailto:technologiesinterplanetary@gmail.com"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
        <p>Contact Us: <a href="mailto:technologiesinterplanetary@gmail.com">technologiesinterplanetary@gmail.com</a></p>
        
    </div>
    <div id="right">
        <a href="https://www.youtube.com/@interplanetarytechnologies"><img src="{{ url_for('static', filename='images/youtubeicon.png') }}"></a>
        <a href="https://github.com/jtann5/HTMX"><img src="{{ url_for('static', filename='images/github.png') }}"></a>
    </div>
</div>
<div id="copyright"><hr>Interplanetary Technologies ©</div>