<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interplanetary Technologies</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
</head>
<body>
    <div id="page">
        <h1>Error 404: This page doesn't exist</h1>
        <h2>It's easy to get lost in the cosmos</h2>
        <img class="page_img" src="../static/images/cat.jpg" alt="cat">
        <br>
        <br>

        <a href="/" id="redirectButton">
            <button>
                Take me to the home page
            </button>
        </a>

        <a href="/store" id="redirectButton">
            <button>
                Take me to the store
            </button>
        </a>
        
    </div>
</body>
</html>
