<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interplanetary Technologies</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    <div id="image">
        <img src="{{ url_for('static', filename='images/shorterBanner.png') }}">
    </div>
    <div id="container">
        <div id="topnav">
            <button hx-get="/click">
                Click Me!
                <img class="htmx-indicator" src="images/logo.png">
            </button>
        </div>
        <h1>Interplanetary Technologies</h1>
    </div>
    
</body>
</html>