<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interplanetary Technologies</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    <div id="image">
        <img src="{{ url_for('static', filename='images/shorterBanner.png') }}">
    </div>
    <div id="container">
        <div id="tabs" hx-target="#tab-contents" role="tablist" _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target take .selected set @aria-selected to true">
            <button role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/tab1" hx-trigger="click">Home</button>
            <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab2" hx-trigger="click">Projects</button>
            <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tab3" hx-trigger="click">About</button>
        </div>
        <div id="tab-contents" role="tabpanel" hx-get="/tab1" hx-trigger="load"></div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const tabs = document.querySelectorAll('[role="tab"]');
                tabs.forEach(tab => {
                    tab.addEventListener('click', function() {
                        tabs.forEach(t => t.setAttribute('aria-selected', 'false'));
                        tab.setAttribute('aria-selected', 'true');
                    });
                });
            });
        </script>

        <div id="topnav">
            <button hx-get="/click">
                Click Me!
                <img class="htmx-indicator" src="{{ url_for('static', filename='images/logo.png') }}">
            </button>
        </div>
    </div>
    <div id="htmx">
        <p>Website powered by     <a href="https://htmx.org/"><img src="{{ url_for('static', filename='images/htmx.jpg') }}"></a></p>
    </div>
    <div id="footer">
        <hr>
        <div id="left">
            <a href="mailto:technologiesinterplanetary@gmail.com"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            <p>Contact Us: <a href="mailto:technologiesinterplanetary@gmail.com">technologiesinterplanetary@gmail.com</a></p>
            
        </div>
        <div id="right">
            <a href="https://www.youtube.com/@interplanetarytechnologies"><img src="{{ url_for('static', filename='images/youtubeicon.png') }}"></a>
        </div>
    </div>
    <div id="copyright"><hr>Interplanetary Technologies ©</div>
</body>
</html>