<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interplanetary Technologies</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    <div hx-get="/elements/header?page=store" hx-trigger="load" hx-swap="outerHTML"></div>
    <div id="container">
        <div id="tab-contents" role="tabpanel" hx-get="{{content}}" hx-trigger="load"></div>
    </div>

    <div hx-get="/elements/footer" hx-trigger="load" hx-swap="outerHTML"></div>
</body>
</html>