<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
</head>
<body>
    <button style="margin:1em;" onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
            
            if (window.history.length > 2) {
                window.history.back();
            } else {
                var newUrl = '/store';
                window.location.href = newUrl;
            }
        }
    </script>
    <div id="page" class="product_page">
        <div style="display: flex; align-items: center;"></div>
        <div class="productImg"><img src="../../static/images/products/{{product.image}}" alt="booty shorts"></div>
        <div>
            <h1>{{product.name}}</h1>
            <h3>${{ "%.2f"|format(product.price) }}</h3>
            <h3 style="color: red;">Illegalness index: {{product.illegalness}}</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</body>
</html>
