<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="page">
        <h1>Store</h1>
        <form hx-get="/search" hx-params="query, minPrice, maxPrice, sortBy, sortOrder" hx-target="#results" hx-trigger="load, change">
            <label>
                Search:
                <input type="text" class="input" placeholder="Search" name="query" >
            </label>
            <br>
            <label>
                Price Range:
                <input type="text" class="input" placeholder="Min Price" name="minPrice">
                <input type="text" class="input" placeholder="Max Price" name="maxPrice">
            </label>
            <br>
            <label>
                Sort by:
                <input type="radio" name="sortBy" value="Relevant" checked> Relevant
                <input type="radio" name="sortBy" value="Illegalness"> Illegalness
                <input type="radio" name="sortBy" value="Price"> Price
            </label>
    
            <br>
    
            <label>
                Sort Order:
                <input type="radio" name="sortOrder" value="ascending" checked> Ascending
                <input type="radio" name="sortOrder" value="descending"> Descending
            </label>
        </form>
        <br>
        
        <div id="results" style="display: flex; flex-flow: row wrap;"><h2>Search some crap</h2></div>
    </div>
</body>
</html>